/* hebrew */
@font-face {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/bellefair/v14/kJExBuYY6AAuhiXUxG1N-vo3lOc.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/bellefair/v14/kJExBuYY6AAuhiXUxG1N9vo3lOc.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/bellefair/v14/kJExBuYY6AAuhiXUxG1N-Po3.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* greek-ext */
@font-face {
    font-family: 'Noto Rashi Hebrew';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/notorashihebrew/v26/EJR_Qh82XsIK-QFmqXk4zvLwFVya0vFL-HlKM5e6C6HZB-HUTCC7Bf0.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* hebrew */
  @font-face {
    font-family: 'Noto Rashi Hebrew';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/notorashihebrew/v26/EJR_Qh82XsIK-QFmqXk4zvLwFVya0vFL-HlKM5e6C6HZB-HUQiC7Bf0.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* hebrew */
@font-face {
    font-family: 'Miriam Libre';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/miriamlibre/v14/DdTh798HsHwubBAqfkcBTL_fZZP-fes.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Miriam Libre';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/miriamlibre/v14/DdTh798HsHwubBAqfkcBTL_faZP-fes.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Miriam Libre';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/miriamlibre/v14/DdTh798HsHwubBAqfkcBTL_fZ5P-.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }



body, 
td,
.breadcrumb a,
.main-content,
.accordion,
h2, h3, h4, h5, h6,
.slick-choshen-main-page-single-click h4,
.service-requests-tab.nav-tabs > li + li > a,
.seminar-works-details-wrapper, 
.account-details-wrapper,
.panel-heading,
#my-account-accordion > .panel-default > .panel-heading a,
.my-payments-total.choshen-pseudo-table:first-of-type,
.panel,
table,
td > a,
input,
.form-control,
.panel-default > .panel-heading + .panel-collapse > .panel-body.panel-body-with-bg,
.menu .tab-content .tab-pane > div > ul,
.white-container-thanks-error,
.credits-counter-sp, 
select,
.col-md-10 > .row,
iframe,
.exams-panel-gray-bg,
.exams-panel .exams-panel-label,
.vue-dropzone,
.white-container
{
    font-family: "Miriam Libre", sans-serif !important;
    background-color: #2a3d4a !important;
    color: white !important;
}
/* TODO */
.tabs-right > .nav-tabs .active > a
 {
    color: aqua !important;
}

.menu .dropdown.open .menu-button, .menu .dropdown.open .menu-button:hover, .menu .dropdown.open .menu-button:focus {
    background-color: aqua !important;
}

.nav-tabs > li > a:hover,
.tabs-right > .nav-tabs .active > a:hover,
.nav-tabs > li.active > a  {
    border-color: none !important;
    border: none !important;
    background-color: rgb(12, 72, 82, 10) !important;
}

.covid_title {
    background-image: none !important;
    padding-right: 0px !important;
}

.slick-choshen-main-page-single-click > a > div,
.footer
{
    background-color: #9DB2BF !important;
}

.navbar,
.rounded-subheader,
.tabs-right > .nav-tabs > li > a,
.menu .tab-content .tab-pane > div > ul,
.tabs-right .tab-content a {
    background-color: #0d2a52 !important;
    color: white !important;
}

/* .navbar,
.rounded-subheader,
.tabs-right > .nav-tabs > li > a {
    color: black !important;
    background-color: #d7c823 !important;
} */

/* 
td > a:hover, td > a:focus {
    color: #5E2750 !important;
} */


/* for course registeration */
#box_left_1,
#box_left_2, 
#box_right_1, 
#box_right_2,
#explanation p {
    background-color: #121212 !important;
}
.container_12{ 
    background-image: none !important;
}



/* Opal shit goes here*/
#page-content-wrapper,
.path-mod-ouilforum #region-main, 
.format-outopics body, 
.format-smartopal body,
.format-site body, 
.format-outopics #page, 
.format-smartopal #page, 
.format-site #page, 
.format-outopics #page-content, 
.format-smartopal #page-content, 
.format-site #page-content,
#page-my-index *,
.path-mod-ouilforum #region-main *, 
.block_ouil_navigation *,
.block_settings *
{
    font-family: "Miriam Libre", sans-serif !important;
    background-color: #2a3d4a !important;
    color: white !important;
}